.about-company-page {
  .about-company {
    padding: 50px 0;
    background-color: inherit;
  }
  .about-company__btn {
    background-color: #fff;
  }
}

.about-company {
  padding: 130px 0;
  background-color: #f2f4f6;

  h2, h3, h4 {
    color: #1a2026;
  }
}

.about-company__wrapper {
    display: flex;
    justify-content: space-between;
}

.about-company__info-wrapper {
    max-width: 390px;
}

.about-company__descript {
  color: #848f9f;
  line-height: 1.5;
}

.about-company__slider {
  position: absolute;
  height: 340px;
  clip: rect(0px, 1400px, auto, 0px);
  &.swiper-container {
      overflow: initial;
  }
}

.about-company__slider-wrapper {
  position: relative;
  width: 800px;
  height: 340px;
  padding-left: 80px;
}

.about-company__controlls {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 80px;
  display: flex;
}

.about-company__btn {
  width: 80px;
  height: 70px;
  border: none;
  background: #f2f4f6;
  padding: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50%;
  &--prev {
    background-image: url("../img/sprite/arrow-left.svg");
  }
  &--next {
    background-image: url("../img/sprite/arrow-right.svg");
  }
  transition: all 0.2s;
  outline: none;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

@media (max-width: $desktop-width) {
  .about-company__descript {
    font-size: 14px;
  }
  .about-company {
    padding: 95px 0;
  }
}

@media (max-width: $laptop-width) {
  .about-company {
    padding: 40px 0;
  }
  .about-company__wrapper {
    flex-direction: column;
  }
  .about-company__slider-wrapper {
    width: 100%;
    padding-left: 0;
    margin-top: 25px;
  }
  .about-company__slider {
    position: initial;
    &.swiper-container {
      overflow: hidden;
    }
  }
  .about-company__controlls {
    left: 0;
  }
}

@media (max-width: $tablet-width) {
  .about-company__descript {
    font-size: 16px;
  }
  .about-company__slider {
    height: 200px;
  }
  .about-company__controlls {
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 20px;
  }
}