.article-block__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-block__title {
  max-width: 750px;
}

.article-block__art-info {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 100%;
    border: solid 1px #f0f0f0;
    position: absolute;
    left: -11px;
    top: 0;
  }


  * {
    padding: 5px 0px 5px 20px;
  }
}


.article-block__art-data {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px;
    background-image: url("../img/sprite/weekly-calendar.svg");
    background-repeat: no-repeat;
  }
}

.article-block__text {
  line-height: 1.67;
  max-width: 880px;
  margin: 0 auto;
  padding: 15px 20px;
  img {
      display: block;
      padding: 20px 0;
  }
}

.article-block__image-main {
  background-color: #f7f8fa;
  height: 350px;
  display: flex;

  img {
      object-fit: cover;
      width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .article-block__title-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .article-block__art-info {
    flex-direction: row;

    &::before {
      content: none;
    }
  }
}