.bestsellers {
    overflow-x: hidden;
}

.bestsellers__link {
    padding: 12px 40px 12px 17px;
}

.bestsellers__title {
    @include title;
}

.bestsellers__slider {
    @include reset-list;
    display: flex;
    
}

// .bestsellers__mask {
//     position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 300px;
//     left: 0;
//     background-color: rgba(255, 255, 255, 0.6);
//     z-index: 10;
//   }
//   &::after {
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 300px;
//     right: 0;
//     background-color: rgba(255, 255, 255, 0.);
//     z-index: 10;
//   }
// }



