.bestsellers {
  margin-top: 100px;
}

.bestsellers__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bestsellers__slider-wrapper {
  margin-top: 50px;
}

.bestsellers__slider {
  .swiper-wrapper {
    padding: 50px 0;
  }
}

.bestsellers__link {
  padding: 12px 40px 12px 17px;
  background-image: url("../img/sprite/arrow-b.svg");
  background-repeat: no-repeat;
  background-position: 84% 47%;
  background-size: 9px 9px;
  &--mobile {
    display: none;
  }
}

.bestsellers__slider {
  @include reset-list;
}

.bestsellers__mask {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 16.6vw;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 16.666vw;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    display: block;
  }
}

.bestellers__wrapper {
  position: relative;
}


.bestsellers__slider-scrollbar {
  width: 100%;
  height: 6px;
  background-color: #f2f4f6;
  margin-top: 50px;
}

.bestsellers__slider-scrollbar-drag {
  background-color: #00dfc8;
  height: 100%;
  position: relative;
  background: #00dfc8;
  border-radius: 10px;
  left: 0;
  top: 0;
}

@media (max-width: $desktop-width) {
  .bestsellers__mask {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}

@media (max-width: $laptop-width) {
  .bestsellers {
    margin-top: 50px;
  }
  .bestsellers__slider-wrapper {
    margin-top: 0;
  }
  .bestsellers__slider-scrollbar {
    margin-top: 0px;
  }
}

@media (max-width: $tablet-width) {
  .bestsellers__link {
    padding: 18px 55px;
    display: none;
    margin-top: 40px;
    &--mobile {
      display: inline-flex;
    }
  }
}
