.button {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: rgba(47, 54, 64, 1);
  border: none;

  text-transform: uppercase;

  background-color: #00dfc8;
  border-radius: 4px;

  &:hover {
    color: rgba(47, 54, 64, 0.8);
    text-decoration: none;
}
}

@media (max-width: $tablet-width) {
  .button {
    font-size: 15px;
  }
}