.card-description {
  background-color: #f2f4f6;
  margin-top: 80px;
  background-image: url("../img/bg/bg-pattern.png");

  p {
    color: #2f3640;
    line-height: 1.5;
  }
}

.card-description__wrapper {
  padding: 50px;
}

.card-description__title {
  color: #879096;
  font-size: 18px;
  font-weight: 500;
}

.card-description__text {
  color: #2f3640;
  line-height: 1.5;
}

@media (max-width: $laptop-width) {
  .card-description__wrapper {
    padding: 60px 20px;
  }
}
