.card-description {
    background-color: #f2f4f6;
    margin-top: 80px;
    background-image: url("../img/bg/bg-pattern.png");
}

.card-description__wrapper {
    padding: 110px 300px;
}

.card-description__title {
    color: #d4dade;
    font-size: 18px;
    font-weight: 500;
}

.card-description__text {
    color: #2f3640;
    line-height: 1.5;
}