.catalog-main__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.catalog-main__categories-title {
  color: #d4dade;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 15px 0;
}

.catalog-main__catagories {
  width: 33%;
}

.catalog-main__product-wrapper {
  width: 70%;
}

.catalog-main__product-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.catalog-main__product-card {
  display: flex;
  width: 30%;
  margin-right: 20px;
  margin-bottom: 22px;
  flex-grow: 1;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.catalog-main__title {
  padding: 5px 0;
  border-bottom: 2px solid #2f3640;
}

.catalog-main__categories-list {
  @include reset-list;
  width: 80%;
}

.catalog-main__sub-categories-list {
  @include reset-list;
  padding: 15px 0px 15px 25px;
  border-bottom: 2px solid #f2f4f6;
  margin-bottom: 10px;
}

.catalog-main__categories-link {
  font-size: 14px;
  line-height: 1.93;
  display: block;
}

.catalog-main__sub-categories-link {
  font-size: 14px;
  line-height: 1.93;
}

.catalog-main__sort-links {
  display: flex;
  flex-direction: row-reverse;
}

.catalog-main__sort-link {
  padding: 7px 10px;
  border: solid 1px #f2f4f6;
  border-radius: 4px;
  color: #848f9f;
  margin-left: 10px;
  font-size: 14px;
  &--active {
    background-color: #848f9f;
    color: white;
  }

  &:hover:not(.catalog-main__sort-link--active) {
    color: #03d0ba;
    border: solid 1px #03d0ba;
  }
}

.catalog__pagination {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.catalog__pagination-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #848f9f;
  padding: 7px 11px;
  border-radius: 4px;
  border: solid 1px transparent;
  &:first-child {
    margin-left: auto;
  }
  .catalog__pagination-next {
    fill: #848f9f;
  }
  &--active {
    color: #ffffff;
    background-color: #848f9f;
    border-radius: 4px;
  }

  &:hover:not(.catalog__pagination-link--active) {
    color: #848f9f;
    border: solid 1px #848fa0;
  }
}

.catalog-main__categories-item {
  transition: all 0.2s;
  border-radius: 4px;
  padding: 5px;
  &:hover:not(.catalog-main__categories-item--active) {
    background-color: rgba(132, 143, 159, 0.06);
  }
  &--active {
    .catalog-main__categories-link {
      background-color: #525252;
      background-color: #848f9f;
      padding: 8px 60px 8px 15px;
      border-radius: 4px;
      color: #ffffff;
    }
  }
}

@media (max-width: $laptop-width) {
  .catalog-main__wrapper {
    flex-direction: column;
  }
  .catalog-main__categories-list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow-x: scroll;
  }
  .catalog-main__categories-item {
    flex-shrink: 0;
    margin-right: 12px;
  }
  .catalog-main__sub-categories-list {
    display: none;
  }
  .catalog-main__catagories {
    width: 100%;
  }
  .catalog-main__categories-item--active .catalog-main__categories-link {
    padding: 5px;
  }
  .catalog-main__categories-link {
    background-color: #ecfffd;
    display: block;
    border-radius: 4px;
    padding: 5px;
  }

  .catalog-main__sort-links {
    flex-direction: row;
  }
  .catalog-main__sort-link {
    &:first-child {
      margin-left: 0;
    }
  }
  .catalog-main__product-wrapper {
    width: 100%;
    margin-top: 30px;
  }
  .catalog-main__categories-title {
    display: none;
  }
  .catalog__pagination-link {
    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .catalog-main__sort-links {
    overflow-x: scroll;
  }
  .catalog-main__sort-link {
    flex-shrink: 0;
  }
  .catalog-main__product-card {
    margin-right: 13px;
    &:nth-child(3n) {
      margin-right: 13px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .catalog-main__product-card {
    width: 45%;
    min-height: 200px;
  }
}

@media (max-width: $mobile-width) {
  .catalog-main__product-card {
    margin-right: 0;
    width: 100%;
  }
  .catalog-main__product-card:nth-child(3n) {
    margin-right: 0;
  }
}