.categories-menu {
   background-color: #2f3640; 
}

.categories-menu__list {
  @include reset-list;
  position: relative;
}

.categories-menu__list-inner {
    display: flex;
    @include reset-list;

    li {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}

.categories-menu__link {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    width: 100%;
    padding: 17px 0;
    text-align: center;
    &:hover {
        background-color: grey;
        color: #ffffff;
    }
    &--tablet {
      width: 153px;
      display: none;
      background-color: #00dfc8;
      color: #2f3640;
    }

}

@media (max-width: $desktop-width) {
  .categories-menu__link--tablet {
    display: block;
    width: 153px;
  }
  .categories-menu__list-inner {
    display: none;
  }
}