.categories-menu {
  background-color: #2f3640;
}

.categories-menu__tablet-wrap {
  position: relative;
}

.categories-menu__list {
  @include reset-list;
  position: relative;
}

.categories-menu__list-inner {
  display: flex;
  box-shadow: 0 2px 26px -13px rgba(0, 0, 0, 0.5);
  @include reset-list;
  position: relative;
  & > li {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    @media (min-width: $laptop-width) {
      &:hover {
        & > .categories-menu__modal {
          display: flex;
          z-index: 10;
        }
        .categories-menu__link {
          color: #00dfc8;
          position: relative;
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            background: #ffffff;
            position: absolute;
            bottom: -5px;
            transform: rotate(45deg);
            left: calc(50% - 5px);
          }
        }
      }
    }
  }
}

.categories-menu__link {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  width: 100%;
  padding: 17px 0;
  text-align: center;
  &--tablet {
    width: 153px;
    display: none;
    background-color: #00dfc8;
    color: #2f3640;
  }
}

@media (max-width: $desktop-width) {
  .categories-menu__link {
    font-size: 13px;
  }
}

@media (max-width: $laptop-width) {
  .categories-menu__link {
    color: #1a2026;
    width: 300px;
    text-align: left;
    // font-size: 18px;
    &--active {
      background-color: #f2f4f6;
    }
  }
  .categories-menu__link--tablet {
    display: block;
    width: 153px;
    text-align: center;
  }
  .categories-menu__list-inner {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    position: absolute;
    &--open {
      display: flex;
      z-index: 111;
    }
    .categories-menu__link {
      padding: 15px 0px 15px 15px;
    }
  }
}

@media (max-width: $tablet-width) {
  .categories-menu {
    padding: 20px 0 50px;
    background-color: #ffffff;
    display: none;
    &--open {
      display: block;
    }
  }
  .categories-menu__link {
    color: #1a2026;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding: 12px 0;
    width: auto;
    &--active {
      background-color: transparent;
    }
    &--mobile {
      background-color: transparent;
      font-size: 18px;
      border-bottom: 1px solid #dfdfdf;
      display: block;
      width: 100%;

      position: relative;
      &::after {
        content: "";
        width: 16px;
        height: 9px;
        background: url("../img/sprite/arrow-drop-down.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 10px;
        bottom: 15px;
      }
    }
    &:hover {
      background: none;
      color: #1a2026;
    }
  }

  .categories-menu__list-inner {
    box-shadow: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    position: static;
  }
}
