.employers {
  padding: 100px 0;
}

.employers__list {
  @include reset-list;
  padding: 30px 0;
}

.employers__text-wrap {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
}

.employers__descript {
  max-width: 380px;
  color: #848f9f;
}

.employers__slider {
  margin-top: 50px;
  
}

.employers__title {
  text-align: center;
}

.employers__item {
  display: flex;
  height: 140px;
  padding: 3px;
  box-shadow: 0 2px 35px -21px rgba(0, 0, 0, 1);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 21px;
    background-image: url("../img/logo.png");
    background-size: cover;
    right: 10px;
    top: 10px;
  }
}

.employers__info {
  padding-top: 30px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.employer__item-status {
  font-size: 12px;
  color: #848f9f;
}
.employers__item-image {
  display: flex;
  align-items: center;
  img {
    border-radius: 4px;
  }
}
.employer__name {
  font-size: 18px;
  color: #1a2026;
  font-weight: 700;
}

.employer__link {
  border-radius: 4px;
  border: solid 1px #ced6e1;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2) {
    margin-left: 5px;
  }

  &:hover {
    border: solid 1px #1adec7;
    g {
      fill: #1adec7;
    }
  }
}
.employers__links {
  margin-top: 20px;
}

.employers__slider-scrollbar {
  width: 100%;
  height: 6px;
  background-color: #f2f4f6;
  margin-top: 40px;
}

.employers__slider-scrollbar-drag {
  background-color: #00dfc8;
  height: 100%;
  position: relative;
  background: #00dfc8;
  border-radius: 10px;
  left: 0;
  top: 0;
}

@media (max-width: $desktop-width) {
  .employers__descript {
    font-size: 14px;
  }
}

@media (max-width: $laptop-width) {
  .employers {
    padding: 65px 0;
  }
  .employers__title {
    text-align: left;
  }
  .employers__descript {
    max-width: 37%;
    &:last-child {
      margin-left: 30px;
    }
  }
  .employers__text-wrap {
    justify-content: flex-start;
  }
}

@media (max-width: $tablet-width) {
  .employers__text-wrap {
    flex-wrap: wrap;
  }
  .employers__descript {
    max-width: 100%;
    font-size: 16px;
    margin-top: 0;
    &:nth-child(2) {
      margin-left: 0;
    }
  }
}
