.favorites {
    padding: 50px 0;
}

.favorites__list,
.search__list {
    @include reset-list;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.favorites__link {
    padding: 15px 30px;
}

.favorites__item,
.search__item {
    margin-right: 20px;
    width: 23%;
    margin-bottom: 20px;
    display: flex;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.favorites__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorites__items-clear {
    color: #848f9f;
    font-weight: 500;
    cursor: pointer;

    background-image: url("../img/sprite/delete.svg");
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
}

@media (max-width: $laptop-width) {

    .favorites__item,
    .search__item {
        width: 30%;

        &:nth-child(4n) {
            margin-right: 20px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media (max-width: $tablet-width) {

    .favorites__item,
    .search__item {
        width: 47%;
        flex-grow: 1;

        &:nth-child(3n) {
            margin-right: 20px;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    .favorites__card {
        min-height: 200px;
    }
}

@media (max-width: $mobile-width) {

    .favorites__item,
    .search__item {
        margin-right: 0;
        width: 100%;
    }

    .favorites__item:nth-child(3n),
    .search__item:nth-child(3n) {
        margin-right: 0;
    }
}