.footer {
    background: #1a2026;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

.footer__menu-title {
    font-size: 14px;
    color: #848f9f;
}

.footer__list {
    @include reset-list;
}

.footer__list-item {
    margin-bottom: 14px;
}

.footer__link {
    font-size: 14px;
    color: #d4dade;
    &:hover {
        color: #feffff;
    }
}

.footer__address-wrap {
    padding-top: 35px;
    color: #d4dade;
    font-size: 14px;
    line-height: 2.14;
}