.form-promo {
  width: 425px;
}

.form-promo__input {
  width: 100%;
  height: 55px;
  background: transparent;
  border: 1px solid #848f9f;
  border-radius: 4px;
  padding-left: 20px;

  color: black;
  font-weight: 700;

  &:focus {
    outline: 1px solid #00dfc8;
  }
}

.form-promo__input::placeholder {
  font-weight: 400;
}

.form-promo__wrapper {
  margin-bottom: 15px;
  &--file {
    border: 1px dashed #00dfc8;
    border-radius: 4px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #00dfc8;
    font-size: 14px;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.form-promo__button {
  width: 100%;
  padding: 20px 0;
}

@media (max-width: $desktop-width) {
  .form-promo {
    width: 380px;
  }
  .form-promo__input {
    height: 53px;
  }
}

@media (max-width: $laptop-width) {
  .form-promo {
    width: 100%;
  }
}
