.form-one {
  margin-top: 100px;
  background-color: #f2f4f6;
  overflow: hidden;
}

.form-one__form {
  margin-left: 120px;
}

.form-one__title-wrap {
  padding-left: 150px;
}

.form-one__description {
  max-width: 400px;
  font-size: 18px;
  line-height: 1.5;
  @include descript;
}

.form-one__wrapper {
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 390px;
    height: 246px;
    background-image: url("../img/promo/lenta-black.png");
    background-repeat: no-repeat;

    position: absolute;
    bottom: 0;
    left: -200px;
  }

  &::after {
    content: "";
    width: 306px;
    height: 180px;
    background-image: url("../img/promo/lenta.png");
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    right: -200px;
  }
}

@media (max-width: $desktop-width) {
  .form-one__title-wrap {
    max-width: 455px;
    padding-left: 100px;
  }
}

@media (max-width: $laptop-width) {
  .form-one__wrapper {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
    position: relative;
    z-index: 1;

    &::before {
        z-index: -1;
        bottom: -110px;
    }

    &::after {
        z-index: -1;
        right: -250px;
    }
  }
  .form-one__title-wrap {
    padding-left: 0;
  }
  .form-one__form {
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .form-one {
    margin-top: 50px;
  }
  .form-one__wrapper {
    width: 100%;
  }
}