.main-slider {
  position: relative;
  min-height: 680px;
  background-color: #dfe1e1;
  @media (max-width: $desktop-width) {
    min-height: 436px;
  }
  @media (max-width: $laptop-width) {
    min-height: 354px;
  }
  @media (max-width: $tablet-width) {
    min-height: 277px;
  }
}

.main-slider__list {
  @include reset-list;
}

.main-slider__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-slider__item-info {
  max-width: 680px;
}

.main-slider__item {
  padding: 200px 0px;
  background-color: #dfe1e1;

  &--plastic {
    background-image: url("../img/banners/2.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-size: initial;
  }
}

.main-slider__descript {
  @include descript;
}

.main-slider__link {
  padding: 17px 60px;
  margin-top: 20px;
  display: inline-flex;
}

.main-slider__controlls {
  position: absolute;
  justify-content: center;
  bottom: 20px;
  z-index: 11;
  display: flex;
  &.swiper-pagination-bullets {
    bottom: 20px;
  }
}

.main-slider__controlls-btn {
  border: 1px solid #949eac;
  background: transparent;
  display: inline-block;
  padding: 2px 70px;
  border-top: none;
  outline: none;
  &--active {
    border: 1px solid #2f3640;
    border-top: none;
  }
}

@media (max-width: $desktop-width) {
  .main-slider__item {
    padding: 90px 0;
  }
  .main-slider__controlls-btn {
    padding: 2px 50px;
  }
}

@media (max-width: $laptop-width) {
  .main-title {
    font-size: 55px;
  }

  .main-slider__item {
    padding: 55px 0px;
    background-color: #dfe1e1;
  }
  .main-slider__item-wrapper {
    flex-direction: column;
  }
  .main-slider__item-image {
    width: 90%;
    align-self: flex-end;
  }
}

@media (max-width: $tablet-width) {
  .main-slider__item-wrapper {
    flex-direction: column-reverse;
  }
  .main-slider__item {
    padding: 20px 0 70px;
  }
  .main-title {
    font-size: 30px;
  }
  .main-slider__descript {
    font-size: 20px;
  }
  .main-slider__item-info {
    padding-top: 240px;
  }
}
