.main-slider__list {
  @include reset-list;
}

.main-slider__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-slider__item-info {
  max-width: 650px;
}

.main-slider__item {
  padding: 120px 0px;
  background-color: #dfe1e1;
}

.main-slider__descript {
  @include descript;
}

.main-slider__link {
  padding: 17px 60px;
  margin-top: 20px;
  display: inline-flex;
}

@media (max-width: $desktop-width) {
  .main-slider__item {
    padding: 90px 0;
  }
}

@media (max-width: $laptop-width) {
  .main-title {
    font-size: 55px;
  }

  .main-slider__item {
    padding: 55px 0px;
    background-color: #dfe1e1;
  }
  .main-slider__item-wrapper {
    flex-direction: column;
  }
  .main-slider__item-image {
    width: 90%;
    align-self: flex-end;
  }
}

@media (max-width: $tablet-width) {
  .main-slider__item-wrapper {
    flex-direction: column-reverse;
  }
  .main-slider__item {
    padding: 20px 0 55px;
  }
  .main-title {
    font-size: 30px;
  }
  .main-slider__descript {
    font-size: 20px;
  }
}
