.modal-category {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  background: #ffffff;
  display: none;
  padding: 35px 25px;
  box-shadow: 0 2px 26px -13px rgba(0, 0, 0, 0.5);

  flex-wrap: wrap;
  .modal-category__sub-link {
    &:hover {
    color: #00dfc8;
    transition: color .2s;
    opacity: 0.9;
  }
  &:active {
    opacity: 0.5;
  }
  }

  &>.inner-category {
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;

      &>.inner-category__item {
        flex-grow: 1;
        width: calc(25% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;

        &>.modal-category__sub-link {
          font-size: 16px;
          line-height: 1;
          margin-top: 0;
          margin-bottom: 10px;
          display: block;
          font-weight: 700;
        }
      }
    }


  }
}

.modal-category__item {
  margin-right: 50px;
  margin-bottom: 50px;
}

.modal-category__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.modal-category__list {
  @include reset-list;
  // margin-right: 50px;
  // margin-bottom: 50px;

  // li:first-child {
  //   &>.modal-category__sub-link {
  //     font-size: 16px;
  //     line-height: 2;
  //     margin-top: 0;
  //     margin-bottom: 10px;
  //     display: block;
  //     font-weight: 700;
  //   }
  // }
}

.modal-category__sub-link {
  font-size: 14px;
  line-height: 2;

}

@media (max-width: $desktop-width) {
  .modal-category {
    top: 48px;
  }
}

@media (max-width: $laptop-width) {
  .modal-category {
    width: 128%;
    left: 100%;
    background: #f2f4f6;
  }
}