.navigation__list {
    display: flex;
    @include reset-list;

    li {
        margin-left: 20px;
    }

}

.navigation__link {
    font-size: 12px;

    &--super {
        font-weight: bold;
        color: #00dfc8;
    }
}
