.navigation__list {
    display: flex;
    @include reset-list;

    li {
        margin-left: 20px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }

}

.navigation__link {
    font-size: 12px;

    &--super {
        font-weight: bold;
        color: #00dfc8;
    }
}


@media (max-width: $laptop-width) {
    .navigation__link {
        font-size: 14px;
        color: #ffffff;
    }
    .navigation__list {
        li {
            flex-grow: 1;
        }
    }
}

@media (max-width: $tablet-width) {
    .navigation {
        display: none;
    }
}