.news-block {
  background-color: #f2f4f6;
  padding: 80px;
}

.news-block__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
}

.news-block__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.news-block__link {
  padding: 15px 30px;
  &--mobile {
    display: none;
  }
}

.news-block__item {
  border-top: solid 1px #2f3640;
  padding-top: 20px;
  width: 30%;
}

.news-block__item-text {
  font-size: 18px;
  font-weight: 500;
}


@media (max-width: $desktop-width) {
  .news-block__item-text {
    font-size: 16px;
  }
  .news-block {
    padding: 60px 80px;
  }
}

@media (max-width: $tablet-width) {
  .news-block {
    padding: 0;
  }
  .news-block__list {
    flex-wrap: wrap;
  }
  .news-block__item {
    width: 100%;
  }
  .news-block__item {
    padding-bottom: 20px;
  }
  .news-block__link {
    display: none;
    &--mobile {
      display: inline-flex;
    }
  }
  .news-block {
    padding: 0px 0 40px;
  }
}