.news-block {
  background-color: #f2f4f6;
  padding: 30px 0 50px;

  &--white {
    background-color: transparent;
  }
}

.news-block__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.news-block__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.news-block__link {
  padding: 15px 40px;
  &--mobile {
    display: none;
  }

  background-image: url("../img/sprite/arrow-b.svg");
  background-repeat: no-repeat;
  background-position: 89% 48%;
  background-size: 9px 9px;
}

.news-block__item {
  border-top: solid 1px #2f3640;
  padding-top: 20px;
  width: 30%;

  margin-bottom: 30px;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}

.news-block__item-text {
  font-size: 18px;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 11px;
    background-image: url("../img/sprite/arrow-news.svg");
    bottom: -25px;
  }
}

@media (max-width: $desktop-width) {
  .news-block__item-text {
    font-size: 16px;
  }
  .news-block {
    padding: 60px 80px;
  }
}

@media (max-width: $laptop-width) {
  .news-block {
    padding: 11px 20px 42px;
  }
  .news-block__item-text {
    font-size: 14px;
  }
}

@media (max-width: $tablet-width) {
  .news-block {
    padding: 0;
  }
  .news-block__list {
    flex-wrap: wrap;
  }
  .news-block__item {
    width: 100%;
  }
  .news-block__item {
    padding-bottom: 20px;
  }
  .news-block__link {
    display: none;
    &--mobile {
      display: inline-flex;
    }
  }
  .news-block {
    padding: 0px 0 40px;
  }
}
