.card {
  min-height: 270px;
  border: solid 1px #d4dade;
  border-radius: 4px;
  position: relative;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    transform: scale(1.01);
    // min-height: 320px;
    transition: all 0.1s ease-in-out;


    @media (max-width: $laptop-width) {
      box-shadow: none;
      transform: scale(1);
    }
  }
  &--big {
    height: 680px;
    width: 580px;
    @media (max-width: $desktop-width) {
      height: 320px;
      width: 48%;
    }
    @media (max-width: $laptop-width) {
      width: 100%;
    }
  }

  &.swiper-slide {
    height: auto;
  }

  display: flex;
  flex-direction: column;


}

.card__add-features {
  position: absolute;
  cursor: pointer;
  right: 15px;
}


.card__title {
  margin: 0;
}

.card__price {
  margin: 0;
}

.card__more {
  font-size: 12px;
  width: 100%;
  padding: 14px 0;
  text-align: center;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.5s;
  // position: absolute;
  display: block;
}

.card__title-link {
  font-size: 18px;
}

.card__price {
  font-size: 16px;
  color: #8a95a4;
}

.card__image {
  display: block;
  margin: 0 auto;
}

.card__info {
  margin-top: auto;
  position: relative;
}
