.promo-delivery {
    padding: 140px 0;
    background-image: url("../img/promo/BG.png");
    background-repeat: no-repeat;
    background-position-x: -90px;
}

.promo-delivery__link {
    padding: 15px 30px;
    display: inline-flex;
    margin-top: 20px;
}

.promo-delivery__wrapper {
    display: flex;
    flex-direction: row-reverse;
}