.promo__wrapper {
  margin-top: 50px;
  padding: 50px 120px;
  position: relative;
  border: solid 1px #d4dade;
  display: flex;
  flex-direction: row-reverse;
  &::before {
    content: "";
    width: 347px;
    height: 356px;
    position: absolute;
    left: 100px;
    top: -45px;
    background-image: url("../img/promo/packing-skotch.png");
    background-size: cover;
  }
}

.promo__link {
  padding: 15px 60px;
  margin-top: 15px;
  display: inline-flex;
}

.promo-delivery__label {
  font-size: 18px;
  font-weight: 700;
  color: #848f9f;
  padding-left: 40px;
  position: relative;
  &::before {
    content: "";
    width: 27px;
    height: 22px;
    position: absolute;
    background-image: url("../img/sprite/weight-tool.svg");
    left: 0;
    top: -2px;
  }
}

@media (max-width: $laptop-width) {
  .promo__wrapper {
    padding: 50px 20px;

    &::before {
      transform: rotate(70deg);
      left: -90px;
      top: -70px;
    }
  }
}

@media (max-width: $tablet-width) {
  .promo {
    overflow-x: hidden;
  }

  .promo__wrapper {
    padding: 280px 20px 30px;
    margin-top: 65px;
    &::before {
      width: 320px;
      height: 330px;
      left: 0;
    }
  }
}
