.promo-delivery {
  padding: 140px 0;
  background-image: url("../img/promo/lenta-big.png");
  background-repeat: no-repeat;
  background-position-x: -90px;
}

.promo-delivery__link {
  padding: 15px 30px;
  display: inline-flex;
  margin-top: 20px;
}

.promo-delivery__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: $desktop-width) {
  .promo-delivery {
    background-position-x: -112px;
    background-size: contain;
    padding: 95px 0;
  }
}

@media (max-width: $laptop-width) {
    .promo-delivery {
        background-position-x: -350px;
        padding: 60px 0;
    }
    .promo-delivery__info {
        max-width: 260px;
    }
}

@media (max-width: $tablet-width) {
  .promo-delivery {
    background-image: url("../img/promo/mobile/bg.png");
    background-position: 100% 0;
  }
  .promo-delivery__wrapper {
    flex-direction: row;
    padding-top: 170px;
  }
}