.special-offer {
    margin-top: 50px;
}

.special-offer__main-wrapper {
    display: flex;
}

.special-offer__list {
    @include reset-list;
    justify-content: space-between;
}

.special-offer__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.special-offer__btn {
    font-size: 0;
    border: none;
    background: transparent;
    padding: 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    transition: all 0.2s;
    &:active {
        opacity: 0.9;
    }
    &:focus {
        outline: none;
    }
    &--prev {
        background-image: url("../img/sprite/arrow-left-inner.svg");
    }
    &--next {
        background-image: url("../img/sprite/arrow-right-inner.svg");
    }

    &:hover {
        transform: scale(1.2);
    }
}

.special-offer__controlls {
    display: flex;
    position: relative;
    &::before {
        content: "";
        height: 28px;
        width: 2px;
        background-color: #d4dade;
        position: absolute;
        top: 20%;
        left: 50%;
    }
}

.special-offer__slider {
    padding: 50px 0;
    // height: 680px;
    // max-width: 608px;

    .swiper-slide {
        display: flex;
    }
}


@media (max-width: $desktop-width) {
    // .special-offer__slider {
    //     max-width: 48%;
    //     height: 320px;
    // }
    .special-offer {
        margin-top: 50px;
    }
}

@media (max-width: $laptop-width) {
    // .special-offer {
    //     margin-top: 0;
    // }
    .special-offer__main-wrapper {
        flex-direction: column;
    }
    .special-offer__slider {
        max-width: 100%;
    }
    .special-offer__slider {
        margin-top: 0px;
    }
    .special-offer__title-wrapper {
        padding: 0;
    }
    .special-offer__controlls {
        display: none;
    }
}