.special-offer {
    margin-top: 130px;
}

.special-offer__main-wrapper {
    display: flex;
}

.special-offer__list {
    @include reset-list;
    justify-content: space-between;
}

.special-offer__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.special-offer__btn {
    font-size: 0;
    border: none;
    background: transparent;
}

.special-offer__slider {
    height: 680px;
    max-width: 608px;
}

@media (max-width: $desktop-width) {
    .special-offer__slider {
        max-width: 48%;
        height: 320px;
    }
    .special-offer {
        margin-top: 50px;
    }
}

@media (max-width: $laptop-width) {
    .special-offer__main-wrapper {
        flex-direction: column;
    }
    .special-offer__slider {
        max-width: 100%;
    }
    .special-offer__slider {
        margin-top: 15px;
    }
}