.special-offer {
    margin-top: 130px;
}

.special-offer__list {
    @include reset-list;
    justify-content: space-between;
}

.special-offer__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.special-offer__btn {
    font-size: 0;
    border: none;
    background: transparent;
}

.special-offer__slider {
    height: 680px;
}
